<ion-header class="app-header" [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()" fill="clear" color="light">
        <ion-icon [name]="(themeService.isDarkMode$ | async) ? 'sunny' : 'moon'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card class="house-header-card ion-text-center ion-no-margin ion-no-padding">
  <img src="assets/logo/HOM3.png" alt="Logo" />
  <ion-card-header class="ion-no-padding">
    <ion-card-title>{{ theHouseName }}</ion-card-title>
    <ion-card-subtitle class="ion-text-left">
      House Leader: {{ HouseLeaderName }}<br>
      Phone: {{ HLphone }}
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="kpis">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>KPIs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="house-leader-tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transportation">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Transport</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="participants" class="participants-tab">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Participants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="mail-open-outline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
