<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="kpis">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>KPIs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="house-leader-tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="participants">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Participants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transportation">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Transport</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="mail-open-outline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
