ion-header {
    --ion-background-color: #4194ab !important; /* Header background color */
    --ion-color-base: #fff !important; /* Text color */
  }
  ion-title {
    --ion-color-base: #fff !important; /* Text color */
    font-size: 16px;
  }
  ion-card-header {
    --padding-bottom: 0; /* Adjust as needed */
    font-size: 16px;
    font-weight: bold;
  }

  .thumbnail {
    width: 100px; /* Set the desired width for the thumbnail */
    height: 130px; /* Set the desired height for the thumbnail */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    // border-radius: 5px; /* Optional: Add rounded corners */
    // border: 1px solid #ccc; /* Optional: Add a border */
  }

  ion-card-subtitle {
    --ion-color-base: #000 !important; /* Text color */
    font-size: 12px;
    font-weight:inherit;
  }

  ion-card-title {
      text-align: left;
    }
    .error-message {
      color: red;
      font-size: 20px;
      margin-top: 10px;

    }
    ion-card {
      justify-content: center;
      .error-message-text{
        text-align: center;
        color:#87130a
        }
      }
    ion-select {
      margin: 0;
      padding: 10px;

    }
  form {
    margin: 0;
    padding: 10px;
  }

  .ripple-effect-blue {
    color: #010384;
  }

  .ripple-effect-lightblue {
    color: #00c8ff;
  }

  .ripple-effect-orange {
    color: #6c5105;
    font-size: x-small;
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 720px;
    gap: 8px;
    margin: 0 auto;
  }

  b {
    width: 100%;
  }
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* or any other value that suits your needs */
  width: 100%;
}
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    border: 1px solid #4194ab;


//      user-select: none;

    width: 100%;
    height: 50px;
    border-radius: 8px;
  }

  .rounded-rectangle {
    width: 200px;
    height: 40px;
    border-radius: 8px;
  }
  .bordered-input {
    border: 1px solid #4194ab; /* Change the color and width as needed */
    white-space: pre-wrap; /* This will make the text wrap */

  }
  .stacked-label label {
    display: block;
    margin-bottom: 5px;
    color:#4194ab
  }

  ion-button {
    --padding-start: 10px; // padding on the left
    --padding-end: 10px; // padding on the right
    --padding-top: 0px; // padding on the top
    --padding-bottom: 0px; // padding on the bottom
    --background: #87130a; // background color
    --color: #fff; // text color
    --border-radius: 8px; // border radius
    font-size: 12px;
    font-weight: bold;
  }